---
import SEOTag from "../components/SEOTag.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <SEOTag />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' />
    <meta name="google-site-verification" content="IRfU0VY2qYQ1aMx16tpX8ehnO6W39N_qG7WMXrdk4pQ" />
  </head>
  <body>
    <slot />
  </body>
</html>
